# Description: Direnv configuration for Nix
# See instructions in flake.nix

 if ! has nix_direnv_version || ! nix_direnv_version 2.2.1; then
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.2.1/direnvrc" "sha256-zelF0vLbEl5uaqrfIzbgNzJWGmLzCmYAkInj/LNxvKs="
 fi
use flake

# Env variables for the Nix shell
if which clang > /dev/null && clang --version | grep 'clang version 13' > /dev/null; then
    export LLVM_PATH="$(dirname $(which clang))"
fi